.body {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 100px 2vw;
}

.even {
    display: flex;
    margin-right: 5vw;
}

.image {
    width: 30%;
    object-fit: contain;
}

.text {
<<<<<<< HEAD
    margin-left: 8vw;
=======
    margin-left: 7%;
>>>>>>> de94dd71d24a04b088b3b7c87b87fe249436a3ea
}

.title {
    font-size: 2.5vw;
}

.description {
    margin-top: 20px;
<<<<<<< HEAD
    margin-right: 7%;
=======
    margin-right: 5%;
>>>>>>> de94dd71d24a04b088b3b7c87b87fe249436a3ea
    font-size: 2vw;
    white-space: pre-wrap;
}


.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
