.body {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 100px 2vw;
}

.even {
    display: flex;
    margin-right: 5vw;
}

.image {
    width: 30%;
}

.text {
    margin-left: 8vw;
}

.title {
    font-size: 2.5vw;
}

.description {
    margin-top: 20px;
    margin-right: 7%;
    font-size: 2vw;
    white-space: pre-wrap;
}


.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
