.Footer {
  margin-top: 150px;
  width: 100%;
  text-align: center;
  height: 100px;
  margin-bottom: 50px;
}

.main {
  display: flex;
  align-items: center; /* 中央に揃える */
  height: 100%; /* 親要素に対して高さ100% */
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
  margin-right: 15px; /* ロゴの右に余白を追加 */
}

.links {
  width: 100px;
  display: flex;
  justify-content: center; /* リンクを中央に配置 */
  flex-grow: 1; /* ロゴとリンクの間のスペースを埋める */
}

.link {
  text-decoration: none;
  color: #333;
  margin: 0 120px;
  font-size: medium;
  font-size: var(--small-font);
}

.copyRight {
  margin-right: 15px;
  text-align: right;
}
