

.Header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  background-color: #9cdaf5 !important;
  padding: 10px 20px;
  height: 10%;
}

.logo {
  margin-top: 5px;
  padding: 0;
  width: 150px; /* ロゴの最大幅を設定（必要に応じて調整） */
  object-fit: contain;
  margin-left: 20px;
}

.links {
  margin-top: 10px;
  margin-right: 20px;
  font-size: 30px;
}

.link {
  position: relative;
  font-weight: 500;
  margin-right: 60px;
  color: black;
  text-decoration: none;
}

.link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px; /* 下線の高さ */
  bottom: 0;
  background-color: white; /* 下線の色 */
  animation: underlineAnimation 0.3s ease-in-out forwards;
}

@keyframes underlineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .Header {
    display: flex !important;
    justify-content: space-between;
    background-color: #9cdaf5 !important;
    padding: 5px 10px;
  }

  .logo {
    width: 100px; /* Adjust as needed */
    margin-left: 5px;
    margin-right: 10px;
  }

  .links {
    margin-top: 10px;
    font-size: 20px;
    margin-right: 20%;
  }

  .link {
  position: relative;
  font-weight: 500;
  margin-right: 15%;
  color: black;
  text-decoration: none;
}
}

@media (max-width: 500px) {
  .link{
    margin-right: 10%;
  }
}
