.body{
    width: 100%;
    margin-bottom: 100px;
}

.title{
    margin-left: 3%;
    font-size: 2.7vw;
}

.description {
   margin: 10px 15% 50px 5%;
    font-size: 2vw;
}

.image{
    margin-left: 10%;
    width: 80%;
}

.merits{
    display: flex;
    justify-content: space-around;
}

.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }

@media (max-width: 800px) {
    .body{
        margin-bottom: 50px;
    }

    .title{
        font-size: 4vw;
    }

    .description {
        font-size: 3.5vw;
    }
}

@media (max-width: 500px) {

    .title{
        font-size: 5vw;
    }

    .description {
        font-size: 4vw;
    }
}