.body {
  margin: 7vh;
  margin-bottom: 200px;
  text-align: center;
}

.message {
  margin-top: 100px;
  margin-bottom: 40px;
  color: black;
  font-size: 5.5vw;
  white-space: pre-wrap;
}

.description {
  font-size: 1.8vw;
  white-space: pre-wrap;
}

@media (max-width: 800px) {
  .body {
      margin-bottom: 100px;

  }
}

@media (max-width: 500px) {
  .message{
    font-size: 8vw;
  }

  .description{
    font-size: 4vw;
  }
}