.body {
  width: 25%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title {
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
}

.description {
  margin-top: 8px;
  width: 100%;
  font-size: 1.7vw;
  text-align: center;
}
