.block {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.newsContainar {
  margin-bottom: 100px;
  width: 40%;
  margin-right: 20px;
}

.schoolLink {
    position: relative;
    font-size: 1.8vw;
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .block {
    flex-direction: column;
    align-items: center;
  }

  .newsContainar {
    width: 100%;
    margin-right: 0;
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}